[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_req
prompt             = no

[ req_distinguished_name ]
countryName                 = US
stateOrProvinceName         = CT
localityName               = Enfield
organizationName           = {{ cookiecutter.project_slug }}
commonName                 = {{ cookiecutter.dev_domain_name }}

[ req_ext ]
subjectAltName              = @alt_names

[ v3_req ]
subjectAltName              = @alt_names

[ alt_names ]
DNS.1                       = localhost
DNS.2                       = {{ cookiecutter.dev_domain_name }}